@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8A51FC;
}
.logo{
    display: block;
    width: 300px;
    margin: 20px auto;
}
main{
    display: inline-block;
    width: 375px;
    background-color: white;
    border-radius: 20px;
    margin: 20px auto 30px;
    padding: 50px 24px 30px;
}
.box-converter{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-top: 10px;
    
}
select{
    height: 30px;
    font-size: 17px;
    padding-left: 10px;
    outline: none;
    font-weight: 600;
    border-radius: 7px;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    
}
.input p{
    font-size: 18px;
    font-weight: 400;
}
input{
    width: 100%;
    height: 30px;
    cursor: pointer;
    font-size: 17px;
    padding-left: 10px;
    outline: none;
    font-weight: 700;
    
}
button{
    width: 100%;
    height: 35px;
    margin: 30px 0 20px;
    background-color: #8A51FC;
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 17px;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}
button:active{
    opacity: 0.5;
}
.valores{
    font-size: 20px;
    font-weight: 600;
}
.moeda-converte{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
    border: solid;
    border-color: #936de0;
    border-radius: 40px;
    border-width: 1px;
}
.moeda-convertida{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.box-converter p{
    font-size: 16px;
    opacity: 0.6;
}
.value{
    font-size: 16px;
    opacity: 0.6;
}
